@model IEnumerable<AtlasBlog.Models.BlogPost>

@using AtlasBlog.Services
@using AtlasBlog.Services.Interfaces

@inject IImageService _imageService

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("Administrator"))
{
    <div class="d-flex container-fluid justify-content-start p-3">
        <button class="btn btn-lg btn-outline-success border-3">
            <a style="color:black" asp-action="Create">Create New</a>
        </button>
    </div>
}

<h1 class="px-3 fw-bold" style="color:seagreen">Choose a Post to Read</h1>


<div class="d-flex container justify-content-center">
    <div class="row">


        <!-- Post preview-->
        @foreach (var blogPost in Model)
        {
            <div class="card border-3 border-success mb-3 m-2" style="max-width: 250px">
                @if (blogPost.ImageData is not null)
                {
                    <img src="@_imageService.ConvertByteArrayToFile(blogPost.ImageData, blogPost.ImageType)" class="img-fluid card-img-top" />
                }
                <div class="card-body">

                    <a asp-action="Details" asp-route-slug="@blogPost.Slug">
                        <h5 class="card-title">@blogPost.Title</h5>
                        <p class="card-text">
                            <h6 class="post-subtitle">@blogPost.Abstract</h6>
                            
                        </p>
                    </a>

                </div>
                <div class="card-footer">
                    <small class="post-meta" style="font-size:medium">
                        Created By Brandon Martin on @blogPost.Created.ToString("MMM dd, yyyy")
                    </small>
                </div>
            </div>
        }
    </div>
</div>
